# System files
.DS_Store

# Editors
.vscode
.idea

# Testing, code coverage, and linting
.nyc_output
coverage
temp

# Logging
logs
*.log
npm-debug.log*

# others
node_modules

# Built files during packaging
bin/templates/platform_www/cordova.js
