# Testing, code coverage, and linting
.eslintignore
.eslintrc.yml
.nyc_output
coverage
tests
temp

# Logging
logs
*.log
npm-debug.log*

# Git
.git
.gitattributes
.github
.gitignore

# others
.npm-scripts
cordova-js-src
cordova-lib
